<footer class="custom-footer text-white pt-4 pb-3">
  <div class="container-fluid">
    <div class="row text-center text-md-start">
      <!-- Contact Us -->
      <div class="col-md-4 mb-4">
        <h5>Contact Us:</h5>
        <p class="mb-1">Email: info&#64;titaniumaluminiumudaipur.com</p>
        <p>Phone: +91-7073846416</p>
      </div>

      <!-- Address -->
      <div class="col-md-4 mb-4">
        <h5>Address:</h5>
        <p class="mb-1">Titanium Aluminum,</p>
        <p class="mb-1">Opposite Chamunda Dairy, Near MDS School,</p>
        <p class="mb-1">Dhikli Road, Old RTO, Pratapnagar,</p>
        <p>Udaipur, Rajasthan - 313001</p>
      </div>

      <!-- Social Icons -->
      <div class="col-md-4 mb-4">

        <div class="d-flex align-items-center gap-3">
          <h5 class="mb-0">Follow Us:</h5>

          <!-- Like Icon -->
          <a href="#" data-bs-toggle="tooltip" title="Like Us" aria-label="Like Us">
            <img width="30" height="30" src="https://img.icons8.com/emoji/48/thumbs-up.png" alt="Like"/>
          </a>

          <!-- Subscribe Icon -->
          <a href="#" data-bs-toggle="tooltip" title="Subscribe" aria-label="Subscribe">
            <img width="30" height="30" src="https://img.icons8.com/emoji/48/bell-emoji.png" alt="Subscribe"/>
          </a>
        </div>

        <div class="d-flex justify-content-center justify-content-md-start gap-3">
          <a href="#" target="_blank" aria-label="Facebook" data-bs-toggle="tooltip" title="Facebook">
            <img src="/icons/facebook.svg" alt="Facebook" width="50" height="50">
          </a>
          <a href="#" target="_blank" aria-label="Twitter" data-bs-toggle="tooltip" title="Twitter">
            <img src="/icons/twitter.svg" alt="Twitter" width="50" height="50">
          </a>
          <a href="#" target="_blank" aria-label="Instagram" data-bs-toggle="tooltip" title="Instagram">
            <img src="/icons/instagram.svg" alt="Instagram" width="50" height="50">
          </a>
          <a href="#" target="_blank" aria-label="LinkedIn" data-bs-toggle="tooltip" title="LinkedIn">
            <img src="/icons/linkedin.svg" alt="LinkedIn" width="50" height="50">
          </a>
          <a href="#" target="_blank" aria-label="YouTube" data-bs-toggle="tooltip" title="YouTube">
            <img src="/icons/youtube.svg" alt="YouTube" width="50" height="50">
          </a>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="text-center border-top pt-3 mt-3">
      © {{ currentYear }} Titanium Aluminium Works. All rights reserved.
    </div>
  </div>
</footer>
